@CHARSET "ISO-8859-1";

.formtable {
	padding: 60px;
	border: 1px solid blue;
}

input[type-text] {
	width: 250px
}

input[type-password] {
	width: 250px
}
textarea {
	width: 250px;
	height: 300px;
}

.label {
	text-align: right;
	vertical-align: top;
}

.control {
	margin-left: 10px;
}

.error {
	
	font-size: small;
	color: red;
	margin-left: 10px;
}

p.error {
	font-size: medium;
}

.valid {
	font-size: small;
	color: green;
	margin-left: 10px;
}